html {
	font-family: 'PT Sans Narrow', 'Arial Narrow', sans-serif;
}

body {
	position: relative; 
}

.topbanner  {
	color: #9a9aaa;
	height:20rem;
	padding: 20px;
	background-color: #efeff2;

}
.topbanner b {
	font-family: 'Courier New', monospace;
	color: #007799;
}

.topbanner i {
	font-family: Georgia, serif;
	color: #111;
}


ul#timeline-nav, #timeline-nav li, #timeline-nav h3  {
	padding: 1px;
	margin:3px;
}